<div class="m-4 border border-2 border-primary">
  <div class="bg-info text-center">app.component</div>
  <div class="p-2 d-flex flex-column gap-2">
    <h1>Welcome to Angular!</h1>
    <p>
      This is the <span class="fw-bold">{{ title }}</span> application
    </p>
    
    <app-input-component (submitInput)="onButtonClicked($event)"></app-input-component>
    <div class="row">
      <div class="col" ><app-odd-component [words]="oddLen"></app-odd-component></div>
      <div  class="col" ><app-even-component [words]="evenLen"></app-even-component></div>
    </div>
  </div>
</div>